<!doctype html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" name="Content-Type" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "Tori French" %></title>
    <!-- Fonts for body copy PM Caecilia - Arvo-->
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">

    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "site" %>

    <!-- Font Awesome -->
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
  </head>
  <body>
    <%= partial "header" %>

    <%= yield %>

    <%= partial "footer" %>

    <!-- Javascripts -->
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js" %>
    <%= javascript_include_tag "main", :async => true %>
    <%= javascript_include_tag "site", :async => true %>
  </body>
</html>
