<!doctype html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" name="Content-Type" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "Tori French" %></title>
    <!-- Fonts for body copy PM Caecilia - Arvo-->
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <!-- Font for sub-title Abadi - Nobile-->
    <link href="https://fonts.googleapis.com/css?family=Nobile" rel="stylesheet">
    <!-- Font for large headlines titles Neue haas grotesk - Questrial -->
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
    <!-- Include jQuery -->
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js" %>

    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "site" %>

    <!-- Include Font Awesome -->
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>

    <%= javascript_include_tag "site" %>
    <%= javascript_include_tag "main" %>
  </head>
  <body>
    <%= partial "header" %>

    <%= yield %>

    <%= partial "footer" %>

  </body>
</html>
